.App {
  text-align: center;
  display: flex;
  justify-content: center;
}


.counterSize{
  margin-top: 50px;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  width: 200px
}

.counter{
  color:white;
  font-size: large;
  size: 10px;
}

button{
  margin:10px;
  width:20px;
}

.totalSum{
  color:white;
}